# Python
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project data
src/data/

# Notebooks
.ipynb_checkpoints/

# Models and checkpoints
*.pth
*.ckpt

# Node (for React)
node_modules/
build/